# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# 测试数据

src/content/blog/a-brief-treatise-on-the-color-of-tuesdays.md
src/content/blog/my-wifi-password-is-a-haiku.md
src/content/blog/the-existential-agnst-of-a-semicolon.md
src/content/blog/the-secret-social-hierarchy-of-zindex.md
