---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <main class="app-container pt-36">
        <h1 class="text-6xl pb-2 font-bold">About Us</h1>
    </main>
    <section class="app-container py-12 mb-8">
        <div
                class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
        >
            <p>
                Welcome to Ask China, a Q&A platform dedicated to topics about China. We aim to offer a platform for
                global access to China and foster discussions and exchanges about China.
            </p>
            <p>
                On Ask China, we provide diverse content spanning politics, business, technology, culture, sports,
                tourism, and nature. With multi-perspective coverage and in-depth analysis, we help you gain a better
                understanding of China and how it interacts with the world.
            </p>
            <p>
                Moreover, we encourage users to actively engage in discussions. Whether you're interested in Chinese
                history and culture or its technological advancement, you are invited to ask questions and receive
                answers here. Our community brings together members from around the world with diverse backgrounds and
                perspectives, creating an inclusive environment for exchange and learning.
            </p>
            <p>
                Join Ask China, explore China, participate in conversations, and broaden your horizons.
            </p>
        </div>
    </section>
</BaseLayout>
