---
import BaseLayout from '../layouts/BaseLayout.astro'
import {Icon} from 'astro-icon/components'
import BlogCard from '../components/BlogCard.astro'
import {getCollection} from 'astro:content'

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 4)
---

<BaseLayout>
    <main
            class="app-container flex flex-col gap-12 justify-center py-36 md:py-16 pt-44 md:pt-20 relative"
    >
        <div>
            <p class="block text-3xl opacity-60 mt-9 mb-4">Welcome to</p>
            <h1 class="text-8xl font-bold leading-none">China Expat Guide</h1>
        </div>
        <p class="text-2xl max-w-9xl font-light leading-normal">
            Your everyday guide to life in China.Discover how to live, eat, travel, and experience China — with insights
            made for expats, by expats.
        </p>
    </main>

    <section class="app-container">
        <h2 class="section-title">Recent Posts</h2>
        <div class="posts-grid-container">
            {posts.map((post) =>
                    <BlogCard post={post}/>)}
        </div>
        <a class="btn-secondary" href="/guide"
        >Read All
            <Icon size={20} name="mdi:arrow-right"/>
        </a>
    </section>
</BaseLayout>
